 .text-area-center{                                                                                                                                
    padding: 5vh 10vw;    
    justify-content: center;
    max-width: 1200px;                                                                                                                     
    margin: 0 auto;                                                                                                                        
}
.profile-section{
    margin-top: 10vh;
    min-height: 40vh;
}

.skills-section{
    /* min-height: 80vh; */
}

.strength-section{
    min-height: 60vh;
}
.activities-section{
    min-height: 80vh;
}
.bio-section{
    /* min-height: 80vh; */
}