 .text-area{                                                                                                                                
    padding: 5vh 10vw;                                                                                                                     
    max-width: 1200px;                                                                                                                     
    margin: 0 auto;                                                                                                                        
}
.profile-section{
    min-height: 80vh;
}

.skills-section{
    min-height: 80vh;
}

.strength-section{
    min-height: 80vh;
}
.activities-section{
    min-height: 80vh;
}
.bio-section{
    min-height: 80vh;
}