.profile-area{
    max-width: 1000px;
    background-color: white;
    border-radius: 12px;
    padding: 40px;
}
.profile-area h1{
    margin: 10px;
}
.pasfoto{
    width: 250px;
    height: auto;
    margin-top: 0;
}
.profile-section{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.profile-text{
    margin-top: 100px;
}

/*  Responsive for mobile */
@media (max-width: 768px) {
    .profile-section {
        flex-direction: column;
        text-align: center; /* optional: center-align text for mobile */
        font-size: 16px;
        margin-top: 5vh;
    }

    .pasfoto {
        width: 180px; /* slightly smaller on mobile */
    }

    .profile-text {
        margin-top: 5px; /* reduce the large margin */
    }
}