/* @import url link google font di sini */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background: #f5f5f5;
} */
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 5%;
  padding-right: 5%;
  
}
body {
  font-family: 'Playfair Display', 'Noto Serif JP', serif;
}



/* --- media query --- */
@media (max-width: 1200px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn{
    padding: 14px 22px;
  }
}


/* test */
.halftone{
  animation-name: h;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
  background-color: transparent;
  background-image: 
    radial-gradient(rgb(19, 18, 18) 23%, transparent 24%),
    radial-gradient(rgb(11, 10, 10) 27%, transparent 28%);
  background-size: 0.3vw 0.3vw;
  background-position: 0 0, 0.5vw 0.5vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  /* font-family: 'Press Start 2P', Helvetica, sans-serif; */
  font-size: 10vw;
  letter-spacing: 0.5vw;
  line-height: 0.95;
  position: relative;
  text-transform: uppercase; }

.halftone:after{
  background: rgba(219, 233, 212, 0.95);
  border-radius: 50%;
  content: '';
  filter: blur(1vw);
  position: absolute;
  height: 1vw;
  left: -5%;
  right: -5%;
  top: 95%;
  z-index: -1; }

@keyframes h{
    0%{ background-position: 0 0, 0.5vw 0.5vw; }
  100%{ background-position: -2vw -2vw, -1.5vw -1.5vw; }
}